@import "../variables";

.MuiDrawer-paper {
  background-color: #ffe0b2 !important; // navbar background
  color: #3e2723 !important;
}

.nav-link {
  margin: 2px 8px;
  border-radius: 10px;
}

.nav-icon {
  min-width: 36px;
  color: inherit;
}

/* Responsive visibility */
.desktop-only {
  display: block;
}

@media (max-width: 768px) {
  .desktop-only {
    display: none;
  }
}
