// src/styles/navbar.scss
@import "./variables";

.navbar-drawer {
  width: $drawer-width;
  flex-shrink: 0;

  .MuiDrawer-paper {
    width: $drawer-width;
    box-sizing: border-box;
  }
}

.navbar-header {
  display: flex;
  align-items: center;
  padding: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
}
